body {
    background-color: rgb(29, 29, 29);
}

section {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 24px;
    padding: 20px 20px;
    margin: 0 auto;
    max-width: 60em;
    color: rgb(220, 220, 220);
}

.title-section {
    font-weight: 900;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 0.5em;
    display: inline-block;
    vertical-align: top;
}

.container {
    position: relative;
}

.container-viewer {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 0.5em;
}

.markdown-viewer {
    padding: 1.5em;
}

.title-viewer {
    margin-bottom: 0em;
    margin-top: 1em;
}

table {
    border-collapse: collapse;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

table thead tr th {
    border: 1px solid lightgray;
    padding: 0.5em;
    color: white;
    background-color: gray;
}

table th,
table td {
    border: 1px solid #d9d9d9;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 4px;
    display: inline-block;
    vertical-align: top;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3, h4, h5, h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
}

.container-editor {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 0.5em;
}

.container-title {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 0.5em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

textarea {
    background-color: rgb(29, 29, 29);
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    color: rgb(220, 220, 220);
}

.input-title {
    font-family: 'Courier New', monospace;
    background-color: rgb(29, 29, 29);
    border: 0em;
    border-radius: 0.5em;
    color: rgb(220, 220, 220);
    padding: 0.5em;
    width: 100%;
    outline: none;
}

.error {
    width: 20%;
    font-size: 0.7em;
    color: red;
}

.container-editor .chars {
    position: relative;
    margin: 0 0.5em 0 0.5em;
}

.item {
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 0.5em;
    justify-content: space-between;
}

.wrapper {
    font-family: 'Courier New', monospace;
    border-bottom: 1px solid rgba(95, 95, 95, 0.1);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-header {
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
    margin: 6px 0 6px 10px;
    display: inline-block;
    vertical-align: top;
    color: rgb(220, 220, 220);
}

.view-header {
    font-weight: 800;
    font-size: 18px;
    line-height: 1;
    margin: 6px 0 6px 10px;
    display: inline-block;
    vertical-align: top;
    color: rgb(149, 149, 149);
}

button + button {
    margin-left: 0.5em;
}

.footer {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    color: gray;
}

.footer a {
    color: #026e46;
}

.button {
    font-family: 'Courier New', monospace;
    font-weight: 700;
    border: 0;
    border-radius: 1em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    margin: 0;
}

.button--primary {
    color: white;
    background-color: #00af6f;
}

.button--primary:hover {
    background-color: #026e46;
}

.button--primary:disabled {
    color: white;
    background-color: #028d5a;
}

.button--secondary {
    color: rgb(220, 220, 220);
    background-color: rgb(47, 47, 47);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.button--secondary:hover {
    background-color: rgb(88, 88, 88);
}

.button--secondary:disabled {
    color: white;
    background-color: rgb(47, 47, 47);
}

.button--danger {
    color: white;
    background-color: #bd3636;
}

.button--danger:hover {
    color: white;
    background-color: #ca4f4f;
}

.button--small {
    font-size: 12px;
    padding: 10px 16px;
}

.button--medium {
    font-size: 14px;
    padding: 11px 20px;
}

.button--large {
    font-size: 16px;
    padding: 12px 24px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn-group button {
    border-radius: 0;
    margin-left: 0;
}

.btn-group button:first-child {
    border-radius: 1em 0 0 1em;
}

.btn-group .button:last-child {
    border-radius: 0 1em 1em 0;
}

.inform {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}